h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: large;
    font-weight: 200;
    font-weight: 900;
    text-decoration: underline;
}
#para1{
    text-transform: uppercase;
}
h1{
    border:2px solid;border-radius: 50px;
    margin:40px
    padding: 50px;
    box-shadow: 3px 4px 5px 1px purple;
    text-align: left;
}
h2{
    border:2px solid;border-radius: 50px;
    margin: 5px;
    padding: 10px;
    box-shadow: 3px 4px 5px 1px rgb(24, 56, 114);
    text-align: left;
}
#para1{
    border:2px solid;border-radius: 20px;
    margin: 30px;
    padding: 20px;
    box-shadow: 3px 4px 5px 3px rgb(243, 83, 83);
    text-align: left;
}